<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务管理</title>
    <link href="/css/common.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery-3.4.0.js"></script>
</head>
<body>
<div class="container">
    <h2>在线服务调度管理</h2>
    <table style="border: 0; width: 100%; max-height: 500px;">
        <thead>
            <tr>
                <td>服务类名</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="record-list">
        </tbody>
    </table>
    <hr/>
    <h2>服务调用结果</h2>
    <url id="callMethodResult" style="width: 100%">

    </url>
</div>
<script type="text/javascript">

    function callM() {
        $.get("/remote-service/callM/{interfaceName}/method/arg", function(res) {
            if(res.code === "200") {
                var result = res.data.result;
                $("#callMethodResult").append(
                    "<li>" + result + "</li>"
                );
            } else {
                alert("服务异常");
            }
        });
    }
    $(function() {
        $.get("/remote-service/list", function(res) {
            if(res.code === "200") {
                var interfaceNameList = res.data.interfaceNameList;
                for(var i=0; i<interfaceNameList.length; i++) {
                    $("#record-list").append(
                        "<tr>"
                            + "<td>"+ interfaceNameList[i] +"</td>"
                            + "<td><a onclick='callM();' href='javascript:void(0);'>调用</a></td>"
                      + "</tr>"
                    );
                }
            } else {
                alert("服务异常");
            }
        });
    });
</script>
</body>
</html>
